* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Angsana;
  src: url('./fonts/Angsanaupc.ttf') format('truetype');
}

:root {
  --main-bg-color: #6a6f4c;
  --white-color: #ffffff;
  --brown-color: #5d2410;
}

body {
  background-color: var(--main-bg-color);
}

/* navbar */
.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 30px;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-nav > li {
  margin: 20px;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  color: var(--white-color);
}

.brand-name {
  font-family: Angsana;
  font-size: 121px;
  font-weight: 700;
  color: var(--white-color);
  text-shadow: 3px 3px 3px #ccb89d;
  text-decoration: none;
}

.sign-up-btn {
  border-radius: 12px;
  background-color: var(--brown-color);
  padding-left: 10px;
  padding-right: 10px;
}

.sign-up-btn:hover {
  background-color: var(--brown-color) !important;
  text-decoration: none;
}

.bg-image {
  height: 100vh;
  background-image: url('../img/layout_pic.png');
  background-repeat: no-repeat;
}

.explore-container {
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  color: var(--white-color);
  text-shadow: 3px 3px 3px #ccb89d;
}

.main-form {
  font-size: 10px;
}

.row-season {
  font-size: 36px;
}

.row-glamping {
  font-size: 64px;
}
